<div *ngIf="isopen" class="menu-style">
  <ul class="list-account">
    <li class="list-member" (click)="ngxSmartModalService.getModal('myModal').open()">Se connecter</li>
    <li (click)="ngxSmartModalService.getModal('myModal22').open()">Créer un compte</li>
  </ul>
</div>

<ngx-smart-modal #myModal identifier="myModal">
  <app-modal-body></app-modal-body>
  <!--<h1>Title</h1>-->
  <!--<p>Some stuff...</p>-->

  <!--<button (click)="myModal.close()">Close</button>-->
</ngx-smart-modal>

<ngx-smart-modal [escapable]="true" #myModal22 identifier="myModal22">
  hello
</ngx-smart-modal>

