
.first-section {
  width: 100%;
  margin: 0;
  position: absolute;
  background-size: contain;
  height: 27rem;
  left: 0;
  background: #383434 url('../../../../assets/images/background.jpg') no-repeat  center top;
}

.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 546px repeat(auto-fill, 400px) 300px;
  min-height: 100%;
}

.engine-search {
  display: grid;
  position: absolute;
  top: 0;
  background: #383434 url('../../../../assets/images/coiffeur.jpg') top center;
  min-width: 100%;
  min-height: 91%;
  height: auto;
}

.pub {
  background:  url('../../../../assets/images/pub.jpg') no-repeat  center top;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.btn.btn-primary {
  padding: 3rem 0;
  height: 6rem;
  width: 6rem;
}






.btn-primary:hover {
  border-color: #0078FF;
  border-radius: unset;
  background-color: #0078FF;
  color: #fff;
}
.fa.fa-search {
  font-size: xx-large;
  top: 50%;
  left: 50%;
  transform: translate(2%, -50%);
}

.title-last-search {
  float: left;
  width: 37rem;
  line-height: 3rem;
  padding: 4rem 0 0.5rem 7rem;
  border-bottom: 1px solid #E6E6E6;
  color: #000;
  text-align: left;
  font-size: 1.6rem;
  margin: 0 5rem 1rem 1rem;
}

.title-sponsored {
  float: right;
  width: 37rem;
  line-height: 3rem;
  padding: 4rem 0 0.5rem 7rem;
  border-bottom: 1px solid #E6E6E6;
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  font-size: 1.6rem;
}


.not-found {
  text-align: center;
  margin-left: 6rem;
}

.company-name {
  font-weight: bold;
  display: inline;
}
@media only screen and (min-width: 80em){
  .company-name {
    max-width: 85%;
  }
}

 @media only screen and (min-width: 48em){
   .company-name{
     font-size: 1.1rem;
     line-height: 2.4rem;
   }
 }

@media only screen and (min-width: 80em){
  .company-name{
    max-width: 85%;
  }
}

.avis {
  float: right;
  margin-left: 14rem;
}

.fa.fa-star{
  color: yellow;
}

.histo-date {
  font-size: 13px;
}
ul {
  list-style-type: none;
}

.write-note {
  background-color: lightgray;
}

.centerpop {
  width: 655px;
  margin: auto;
}
label.label1 {
  margin-bottom: 0px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
input#mat-input-0 {
  background-color: #ffffff;
}
.mat-input-element:focus {
  caret-color: #ffffff;
}

input#mat-input-1 {
  background-color: #ffffff;
}


.check{
  background-color: #ccc;
  border: 3px solid rgba(47, 47, 47, 0.26);
}

.mat-checkbox-layout .mat-checkbox-label {
  line-height: 24px;
}

button.btn.btn-primary {
  margin-bottom: 34px;
  margin-left: 2rem;
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 95%;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 0;
  resize: vertical;
}

input[type=submit] {
  background-color: #ffec3d;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  float: right;
  height: 5rem;
}

input[type=submit]:hover {
  background-color: #ffec3d;
}

.container {
  border-radius: 0;
  background-color: rgba(24,24,24,0.4);
  padding: 20px;
  margin-top: auto;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 40%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row{
  margin-left:0;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.col {
  flex-basis: 0;
  bottom: 12px;
  /*max-width: 8%;*/
}








