
.first-section {
  width: 100%;
  margin: 0;
  position: absolute;
  background-size: contain;
  height: 27rem;
  left: 0;
  background: #383434 url('../../../../assets/images/background.jpg') no-repeat  center top;
}

.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 546px repeat(auto-fill, 400px) 300px;
  min-height: 100%;
}

.engine-search {
  display: grid;
  position: absolute;
  top: 0;
  background: #383434 url('../../../../assets/images/coiffeur.jpg') top center;
  min-width: 100%;
  min-height: 91%;
  height: auto;
}

.historique {
  display: flex;
  background-color: #F6F6F6;
  text-align: left;
  border: 1px solid #dddddd;
}

.pub {
  background:  url('../../../../assets/images/pub.jpg') no-repeat  center top;
}

body{
  font-family: 'Open Sans', sans-serif;
}
form {
  display: flex;
  /*justify-content: center;
  align-items: center;*/
  margin: 0 auto;
  top: 10rem;
  position: relative;
  height: 6rem;
  align-items: center;
}

.btn.btn-primary {
  padding: 3rem 0;
  height: 6rem;
  width: 6rem;
}


.form-check {
  position: relative;
  display: inline-flex;
  padding-left: 2.25rem;
  background-color: #E6E6E6;
  height: 3.7rem;
  width: 9rem;
  border: 3px solid #fff;
  float: right;
}
.form-control{
  border-radius: unset;
  height: 3.7rem;
  max-width: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 18rem;
  background-clip: unset;
}
.form-group {
  margin-bottom: 1rem;
  display: flex;
  padding-right: 10px;
  min-width: 63rem;
}
.btn-primary {
  color: #000000;
  background-color: #FFEC00;
  border-color: #FFEC00;
  border-radius: unset;
}

.btn-primary:hover {
  border-color: #0078FF;
  border-radius: unset;
  background-color: #0078FF;
  color: #fff;
}
.fa.fa-search {
  font-size: xx-large;
  top: 50%;
  left: 50%;
  transform: translate(2%, -50%);
}

.geo {
  width: 19rem!important;
}

input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
  margin-top: 22px;
}
.form-check-label {
  margin-top: 16px;
}

.form-check-input {
  position: absolute;
  margin-top: 0.3rem;
}

.custom-autocomplete__input[_ngcontent-c4] input[_ngcontent-c4] {
  margin: 0;
  padding: 10px;
  height: 59px;
  border: 1px solid #ccc;
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
}

.auto-geo #search_places{
  height: 59px;
  width: 17rem;
}

.label1 {
  color: #ffffff;
  font-size: 2.1rem;
  font-weight: 700;
  display: block;
  width: 100%;
  margin: auto 0;
  text-align: center;
  font-family: "Open Sans","Arial","Helvetica",sans-serif;
  z-index: 15;
  line-height: 1.8rem;
}

.label2 {
  color: #ffffff;
  font-size: 1.7rem;
  font-family: "Open Sans","Arial","Helvetica",sans-serif;
  font-weight: 400;
  text-align: center;
}

.label-hour {
  position: relative;
  display: block;
  margin: auto;
  top: 12rem;
}

.teste {
  display: flex;
  margin: 0 auto;
}

.title-last-search {
  float: left;
  width: 37rem;
  line-height: 3rem;
  padding: 4rem 0 0.5rem 7rem;
  border-bottom: 1px solid #E6E6E6;
  color: #000;
  text-align: left;
  font-size: 1.6rem;
  margin: 0 5rem 1rem 1rem;
}

.title-sponsored {
  float: right;
  width: 37rem;
  line-height: 3rem;
  padding: 4rem 0 0.5rem 7rem;
  border-bottom: 1px solid #E6E6E6;
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  font-size: 1.6rem;
}


.not-found {
  text-align: center;
  margin-left: 6rem;
}

.company-name {
  font-weight: bold;
  display: inline;
}
@media only screen and (min-width: 80em){
  .company-name {
    max-width: 85%;
  }
}

 @media only screen and (min-width: 48em){
   .company-name{
     font-size: 1.1rem;
     line-height: 2.4rem;
   }
 }

@media only screen and (min-width: 80em){
  .company-name{
    max-width: 85%;
  }
}

.row-name {
  display: flex;min-width: 100%;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 2.4rem;
}

.avis {
  float: right;
  margin-left: 14rem;
}

.fa.fa-star{
  color: yellow;
}

.histo-date {
  font-size: 13px;
}
ul {
  list-style-type: none;
}

.write-note {
  background-color: lightgray;
}

.centerpop {
  width: 655px;
  margin: auto;
}
label.label1 {
  margin-bottom: 0px;
}

input.form-control {
  border-radius: unset;
  max-width: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-clip: unset;
  margin-right: 6px;
  width: 24rem;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
input#mat-input-0 {
  background-color: #ffffff;
}
.mat-input-element:focus {
  caret-color: #ffffff;
}

input#mat-input-1 {
  background-color: #ffffff;
}


.check{
  background-color: #ccc;
  border: 3px solid rgba(47, 47, 47, 0.26);
}

.mat-checkbox-layout .mat-checkbox-label {
  line-height: 24px;
}

button.btn.btn-primary {
  margin-bottom: 34px;
  margin-left: 2rem;
}

.check.col-xs-2.col-sm-2.col-md-2 {
  height: 59.5px;
  margin-top: 19.5px;
}
.text_center{
 vertical-align: middle;
}

::ng-deep .mat-form-field-placeholder{

  color: #ff2f2a !important;
}

::ng-deep .mat-focused .mat-form-field-label{

  color: #d9e632 !important;
}

::ng-deep .mat-form-field-underline .mat-form-field-ripple{

  background-color: #d9e632 !important;
}

::ng-deep .mat-form-field-underline{

  background-color: #d9e632 !important;
  width: 0!important;
}

::ng-deep .mat-checkbox-layout .mat-checkbox-label {
  line-height: 54px!important;
}

input.form-control[_ngcontent-c6]{
  background-color: #ffffff;
}
::ng-deep .mat-form-field-infix{
  width: 271px!important;
}

.notification-drop {
  li {
    a:not(.last_info) {
      i {
        color: white;
        padding-right: 5px;
        font-size: 11px;
      }
    }
    a {
      overflow: hidden;
      display: block;
      color: #999;
      padding: 10px!important;
      border-bottom: 1px solid #222;
      text-align: left;
      .time_info {
        color: #fff;
        font-size: 10px;
        padding-left: 15px;
        float: right;
        margin-top: 3px;
      }
      i {
        color: #999;
        padding-right: 10px;
        font-size: 18px;
      }
      &:hover {
        background-color: #f6f7fa;
        color: #262626;
        .time_info {
          color: white;
        }
      }
    }
    .last_info {
      text-align: right;
      text-transform: uppercase;
      font-size: 10px;
    }
  }
}
/*::ng-deep .mat-menu-content {
  background-color: white;
}*/

ul.ng-star-inserted {
  padding-left: 0;
}
/*::ng-deep .mat-menu-content {
  padding-top: 0;
}*/

/*::ng-deep .mat-menu-panel{
  min-width:336px;
  max-width:336px;
}*/

.list-search {
  position: absolute;
  text-align: left;
  top: 87px;
  min-width: 21rem;
  max-width: 21rem;
}
ul.ng-star-inserted {
  padding: 17px;
}
li.ng-star-inserted {
  padding: 13px;
}
::ng-deep .mat-form-field-wrapper {
 // padding-bottom: 0!important;
}

.items-search :hover {
  background: #0078FF;
  color: #ffffff;
  cursor: default;
}
::ng-deep ul.items-search {
  padding-left: 0px;
}
.alert-danger {
  top: 87px;
  color: #ffffff;
  background-color: #ea5957;
  border-color: #ea5957;
  border-radius:0;
}
.form-group.row {
  background-color: rgba(24,24,24,0.4);
}
::ng-deep label.mat-checkbox-layout {
  margin-top: 0;
  background-color: #ccc;
  height: 59px;
  margin-bottom: 2px;
  width: 8rem;
}
::ng-deep .mat-checkbox-inner-container{
  margin-left: 8px!important;
}
input#mat-input-1 {
  width: 17rem;
}

