<div class="grid">

  <div class="image">
    <form>
      <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
               placeholder="Quoi, Qui : hôtel avec piscine, Chez Lily, ...">
      </div>

      <div class="form-group">
        <div class="auto-geo">
          <!--<input type="text" class="form-control geo" id="exampleInputPassword1"
                 placeholder="Où : Lille, Alsace, Bd Voltaire, ...">-->
          <ng4geo-autocomplete [userSettings]="userSettings3" (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete>

        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">A proximité</label>
        </div>
      </div>

      <button type="submit" class="btn btn-primary"><span class="fa fa-search"></span></button>
    </form>
  </div>

  <div class="historic">
    historique de recherche
  </div>

  <div class="historic">

  </div>

</div>
