<h1>Connexion</h1>
<!--<button (click)="myModal.close()">Close</button>-->
<div class="login-option">
  <div class="social">
    <button class="btn btn-facebook"><i class="fa fa-facebook"></i> | facebook</button>
    <button class="btn btn-twitter"><i class="fa fa-twitter"></i> | Twitter</button>
    <button class="btn btn-linkedin"><i class="fa fa-linkedin"></i> | LinkedIn</button>
  </div>
  <div class="vl"></div>
  <div class="my-form">
    <form [formGroup] ="loginForm" (submit)="onsubmit()">
      <div class="form-group row">
        <label class="col-xs-12 col-md-12 col-lg-12">Email</label>
        <div class="col-xs-12 col-md-12 col-lg-12">
          <input formControlName="username" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-xs-12 col-md-12 col-lg-12">Mot de Passe</label>
        <div class="col-xs-12 col-md-12 col-lg-12">
          <input formControlName="password" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
         <!-- <div *ngIf="submitted &&  f.username.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>-->
        </div>
      </div>
      <button class="btn-connexion" type="submit">SE CONNECTER</button>
    </form>
  </div>
</div>
<div class="register-link">
  <span> Vous n'êtes pas membre ?</span>
  <a href="jacascript:">Inscrivez-vous maintenant</a>
</div>
