<div>
  <div class="topnav" id="myTopnav">
    <a routerLink="/home" class="logo "><img class="img_logo" src="../../../assets/images/logo.png"></a>
    <ul>
      <li class="homeclass">
        <a class="compte" routerLink="/home" routerLinkActive="active-link">Home</a>
      </li>
      <li>
        <a class="compte" routerLink="/contact"
           routerLinkActive="active-link">Contact</a>
      </li>
      <li>
        <a class="compte" routerLink="/contact" routerLinkActive="active-link">About</a>
      </li>
      <li>
        <a class=" account user header-right" [matMenuTriggerFor]="menu">
          <div class="user-account">
            <span class="fa fa-user-circle"></span>
            <span class="compte">Mon Compte</span>
          </div>
          <mat-menu yPosition="below" xPosition="before" [overlapTrigger]="false" class="menu" #menu="matMenu">
            <button (click)="ngxSmartModalService.getModal('myModal').open()" mat-menu-item>Se connecter</button>
            <button (click)="ngxSmartModalService.getModal('myModal22').open()" mat-menu-item>Créer un compte</button>
          </mat-menu>
        </a>


      <app-modal-login></app-modal-login>
      <app-modal-subscribe></app-modal-subscribe>

      </li>

      <li class="icon">

        <a class="at-link" href="javascript:void(0);" (click)="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </li>

    </ul>
  </div>
</div>

