
<div class="racourci-business">
  <p class="title-business">
    Trouvez les meilleures entreprises près de vous !
  </p>
  <div class="categories">
    <div class="types">
      <a>
        <img src="../../../../assets/images/categroies/hotels.jpg">
        <h3></h3>
      </a>
    </div>
    <div class="types">
      <a>
        <img src="../../../../assets/images/categroies/dryclean.jpg">
        <h3></h3>
      </a>
    </div>
    <div class="types">
      <a>
        <img src="../../../../assets/images/categroies/dentists.jpg">
        <h3></h3>
      </a>
    </div>
    <div class="types">
      <a>
        <img src="../../../../assets/images/categroies/movers.jpg">
        <h3></h3>
      </a>
    </div>
  </div>
</div>
