/*

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
*/


p{
  margin-top: 19rem;
  margin-bottom: 1rem;
  margin-left: 38rem;
}

ul {
  list-style-type: none!important;
}
