.title-business {
  text-align: center;
  word-wrap: break-word!important;
  word-break: break-word!important;
  overflow-wrap: break-word!important;
  font-weight: 700;
  margin-bottom: 6px;
  margin-top: 30px;
  font-size: 21px;
  line-height: 1.28571em;
  color: #d32323;
}

.types {
  margin-right: 50px;
}

.categories {
  display: flex;
}
